ion-content {
  --ionic-background-color: #E9E1D6;
}

ion-content>form {
  --ionic-background-color: #C9D2DA;
}

ion-content>form>ion-button{
  --ionic-backgorund-color: #86A9B5;
}

.center-span {
    display: block;
    text-align: center;
  }