<ion-header>
  <ion-toolbar>
    <ion-tittle>ㅤㅤAñadir una Unidad</ion-tittle>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
  <ion-item>
    <ion-icon name="sparkles-outline" slot="start"></ion-icon>
    <ion-label>Magos</ion-label>
  </ion-item>
  <ion-item>
  <ion-button color="medium" (click) = "cargarMagos()">Ver Unidades Disponibles</ion-button>
</ion-item>
</ion-item>
<ion-item>
  <ion-item>
    <ion-icon name="star-half-outline" slot="start"></ion-icon>
    <ion-label>Guerreros</ion-label>
  </ion-item>
  <ion-item>
  <ion-button color="medium" (click) = "cargarGuerreros()">Ver Unidades Disponibles</ion-button>
</ion-item>
</ion-item>
<ion-item>
  <ion-item>
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Soporte</ion-label>
  </ion-item>
  <ion-item>
  <ion-button color="medium" (click) = "cargarSoporte()">Ver Unidades Disponibles</ion-button>
</ion-item>
</ion-item>
<ion-item>
  <ion-item>
    <ion-icon name="skull-outline" slot="start"></ion-icon>
    <ion-label>Asesinos</ion-label>
  </ion-item>
  <ion-item>
  <ion-button color="medium" (click) = "cargarAsesinos()">Ver Unidades Disponibles</ion-button>
</ion-item>
</ion-item>
<ion-item>
  <ion-item>
    <ion-icon name="eye-outline" slot="start"></ion-icon>
    <ion-label>Arqueros</ion-label>
  </ion-item>
  <ion-item>
  <ion-button color="medium" (click) = "cargarArqueros()">Ver Unidades Disponibles</ion-button>
</ion-item>
</ion-item>
</ion-content>