ion-content {
    --ionic-background-color: #c5a476;
}

.Formulario {
    --ionic-background-color: #7eadd5;
}

.Formulario>ion-button{
    --ionic-backgorund-color: #86A9B5;
}
ion-toolbar {
    --background: #E9E1D6;
  }
