<ion-header>
  <ion-toolbar>
    <ion-tittle>Actualizar Unidad</ion-tittle>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre de la Unidad</ion-label>
    <ion-input></ion-input>
  </ion-item>
    <ion-item>
      <ion-label position="floating">Ataque</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dureza</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fuerza</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Habilidad Combate</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Habilidad Disparo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Heridas</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Liderazgo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Movimiento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Salva</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <ion-button expand="block" (click)="onUpdate()" class="ion-margin-top">Actualizar</ion-button>
</ion-content>