<ion-header>
  <ion-toolbar>
    <ion-title>Añadir unidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let figura of units">
      <ion-grid>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-label>{{figura.data.nombre}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Movimiento: {{figura.data.movimiento}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Habilidad Combate: {{figura.data.habilidad_combate}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Habilidad Combate: {{figura.data.habilidad_combate}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Habilidad Disparo: {{figura.data.habilidad_disparo}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Dureza: {{figura.data.dureza}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Heridas: {{figura.data.heridas}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Ataques: {{figura.data.ataques}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Liderazgo: {{figura.data.liderazgo}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>Salva: {{figura.data.salva}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Añadir</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>